<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>Heroku Bartender</title>
    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="/javascript/jquery-1.5.1.min.js"></script>
    <script type="text/javascript">
      $(function(){
        $(".build img")
      });
      var deploy = function(sha){
        $.post("", { 'sha': sha}, function(){
          window.location.reload();
        });
      };
    </script>
  </head>
  <body>
    <!--       <ul> -->
    <!--         <li>Remote: <b><%= target %></b></li> -->
    <!--         <li>Pre-deploy: <b><%= predeploy %></b></li> -->
    <!--       </ul> -->
    <div class="container">
      <%= pagination(page) %>
      <% commits.each do |commit| %>
      <div class="build <%= build_status(commit.sha) %>">
        <div class="content">
          <h2><%= commit.message %><span class="commit"><%=commit.sha[0..7]%> </h2>
          <div class="user-info">
            <img src="<%= user_img_url(commit.email) %>"/>
            <p> <%= commit.author %> </p>
            <p class="ago"><strong>Committed: </strong><%= commit.date%></p>
            <% if deployed_versions[commit.sha] %>
            <p class="ago"><strong>Deployed: </strong><%= deployed_versions[commit.sha][0] %></p>
            <% end %>
          </div>
          <div class="actions">
            <a href="javascript:deploy('<%= commit.sha %>')"><span class="deploy">Deploy</span></a>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <% end %>
      <%= pagination(page) %>
    </div>
  </body>
</html>
