<!DOCTYPE html>
<html>
  <head>
    <title>Heroku Bartender</title>
  </head>
  <body>
    <div class='title'>
      <h1> Heroku Bartender </h1>
    </div>
    <a href="#d0fed0d328f55c7d26ab1b811fe28ad2eb4085f9"> Current version</a>
    <div class="site">
      <div id="home">
        <ul class="posts">
          <% commits.each do |commit| %>
          <li>
            <h3> <%= commit.author %> | <%= commit.email %></h3>
            <p>
              <a name="<%= commit.sha %>"><%= commit.sha %></a>
            </p>
            <p>
              <%= commit.message %>
              <%= commit.date %>
            </p>
            <form method="POST">
              <input type="hidden" value="<%= commit.sha %>" name="sha"/>
              <input type="submit" value="Build"/>
            </form>

          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </body>
</html>
