<!DOCTYPE html>
<html>
  <head>
    <title>Heroku Bartender</title>
  </head>
  <body>
    <div class='title'>
      <h1> Heroku Bartender </h1>
    </div>
    <div class="site">
      <div id="home">
        <ul class="posts">
          <% commits.each do |commit| %>
          <li>
            <h3> <%= commit.author %> | <%= commit.email %></h3>
            <p>
              <%= commit.sha %> 
            </p>
            <p>
              <%= commit.message %>
              <%= commit.date %>
            </p>
            <form method="POST">
              <input type="hidden" value="<%= commit.sha %>" name="sha"/>
              <input type="submit" value="Build"/>
            </form>

          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </body>
</html>
