<!DOCTYPE html>
<html>
  <head>
    <title>Heroku Bartender</title>
    <style type="text/css">
      .current{
        background-color: yellow;
        color: blue;
      }
    </style>
  </head>
  <body>
    <div class='title'>
      <h1> Heroku Bartender </h1>
    </div>
    <a href="#<%= current_version %>"> Current version</a>
    <div class="site">
      <div id="home">
        <ul class="posts">
          <% commits.each do |commit| %>
          <li class="<%= commit.sha == current_version ? 'current' : '' %>">
            <h3> <%= commit.author %> | <%= commit.email %></h3>
            <p>
              <a name="<%= commit.sha %>"><%= commit.sha %></a>
            </p>
            <p>
              <%= commit.message %>
              <%= commit.date %>
            </p>
            <form method="POST">
              <input type="hidden" value="<%= commit.sha %>" name="sha"/>
              <input type="submit" value="Build"/>
            </form>

          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </body>
</html>
